<div>
    {{#if titulo}}
        <h1>{{titulo}}</h1>
    {{else}}
        <h1>Unkown TITLE</h1>
    {{/if}}
    <hr /><hr />
    {{#each payload}}
        <p>ID: {{this.id}}</p>
        <p>TITILE: <span>{{this.title}}</span></p>
        <p>PRICE: U$D <span>{{this.price}}</span></p>
        <hr />
    {{/each}}
    {{#if hasPrevPage}}
    <a href={{urlPrev}} style="font-size: 40px; text-decoration: none">⬅️</a>
    {{/if}}
    <h1 style="display: inline;">{{page}}</h1>
    {{#if hasNextPage}}
    <a href={{urlNext}} style="font-size: 40px; text-decoration: none">➡️</a>
    {{/if}}
    
</div>

<script src="/js/carts.vista.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>