<div>
    {{#if titulo}}
        <h1>{{titulo}}</h1>
    {{else}}
        <h1>Unkown TITLE</h1>
    {{/if}}
    <p style="display: none;" id="cartId">{{cartId}}</p>
    <button onclick="vaciarCarrito()">Vaciar Carrito</button>
    <hr /><hr />
    {{#each payload}}
        <p>ID: {{this.id}}</p>
        <p>TITILE: <span>{{this.title}}</span></p>
        <p>PRICE: U$D <span>{{this.price}}</span></p>
        <hr />
    {{/each}}
    <hr />

    <h3>TOTAL = U$D {{total}}</h3>
    {{#if hasPrevPage}}
    <a href={{urlPrev}} style="font-size: 40px; text-decoration: none">⬅️</a>
    {{/if}}
    <h1 style="display: inline;">{{page}}</h1>
    {{#if hasNextPage}}
    <a href={{urlNext}} style="font-size: 40px; text-decoration: none">➡️</a>
    {{/if}}
    
    <a href="/vista/products?limit=2">Volver a Productos</a>
    <hr>
    <a href="/logout">Log Out</a>
</div>

<script src="/js/carts.vista.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>